:root {
    --white: #ffffff;
    --dairy: #fcfcfc;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

nav .logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color: var(--iris);
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* navigation */
.studio-text {
    color: var(--navy-blue);
    text-shadow: none;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.address-item {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-email:hover,
.address-email:focus {
    color: #404bbf;
}

/* section 1 hero  */
/* hero button */
.hero-btn {
    background-color: var(--cornflower);
    color: var(--navy-blue);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
    color: var(--white);
}