header {
    background-color: #E7E9FC;
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
}

.logo.web-text {
    color: #4D5AE5;
}

.logo.studio-text {
    color: #2E2F42;
}

button {
    background-color: #4D5AE5;
    padding: 12px 24px;
}

button:hover {
    background-color:  #404BBF;
}