header {
    background-color: var(--white);
    display: block;
    width: 1440px;
    height: 72px;
    border-style: solid;
    border-color: var(--cornflower);
    border-width: 1px;
}


nav .logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color: var(--iris);
    letter-spacing: 0.54px;
    text-transform: uppercase;
    float: left;
    padding-left: 156px;
    padding-right: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.logo {
    padding: 25.5px, 40px, 25.5px, 40px;
}

.studio-text {
    color:var(--navy-blue);
    text-shadow: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.menu-items {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.menu-item-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.menu-item-portfolio {
    padding-right: 40px;
}

address {
    font-style: normal;
}

.address-items {
    font-style: normal;
}

.address-email {
    padding-right: 40 px;
    padding-left: 332px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-pn {
    padding-right: 156px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}


ul li {
    display: inline;
}

button {
    background-color: var(--cornflower);
    color: var(--navy-blue);
}

button:hover {
    background-color: var(--ocean);
    color: var(--white);
}